@model IEnumerable<proyectoClub.Models.socio>
@{
    ViewBag.Title = "LISTADO DE SOCIOS";
}



<div class="row">
    <div class="col-sm-12">
        <div>
            <h4>LISTADO DE SOCIOS</h4>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">
                        Id
                    </th>
                    <th class="text-center">
                        Nombre
                    </th>
                    <th class="text-center">
                        Apellido
                    </th>
                    <th class="text-center">
                        Numero Documento
                    </th>
                    <th class="text-center">
                        Deporte
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var socio in Model)
                {
                    <tr class="text-center">

                        <td>
                            @socio.idSocio
                        </td>
                        <td>
                            @socio.nombre
                        </td>
                        <td>
                            @socio.apellido
                        </td>
                        <td>
                            @socio.numero
                        </td>
                        <td>
                            @socio.idDeporte
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

}